* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.logo {
	display: flex;
	justify-content: center;
}

h3 {
	font-size: 30px;
 }
 
 .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
    
 ul {
 	margin: 0 auto;  
	list-style: none;
	display: flex;
 }
 
 li {
 	margin: 10px;
 	width: 250px;
 }
 
 #keyword {
 	font-size: 30px;
 	font-weight: 800;
 	font-family: 'NotoSansCJKkr', sans-serif;
 	font-style: italic;
 }
 
 #keyword_next{
 	height: 32px;
 	line-height: 32px; 
 	
 }
 
 #pr_name {
 	font-size: 17px;
 	font-weight: 600;
 	font-family: 'NotoSansCJKkr', sans-serif;
 }

 #pr_name_eng {
 	font-size: 14px;
 	font-weight: 100;
 	font-family: 'NotoSansCJKkr', sans-serif;
 	color: gray;
 }
 
 
 #pr_price {
 	font-weight: 400;
 	font-style: italic;
 }
 
 .gnb > li {
 	margin: 0 auto;  
	width: 200px;
	padding: 30px;
	text-align: middle;
}
	
.gnb > li:hover {
	background-color: green;
}

.con_top {
	display: flex;
}

.search_txt {
	display: flex;
	margin-left: 50px;
}

.search_txt p {
	font-size: 15px;
}

.info {
	text-align: center;
}
 