* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '맑은 고딕', sans-serif;
}

 .logo {
  display: flex;
  justify-content: center;
}

h3 {
 font-size: 30px;
 }
 
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center
 }

ul {
	margin: 0 auto;  
	list-style: none;
	display: flex;
 }

li {
	margin: 10px;
 }

.gnb > li {
	margin: 0 auto;  
	width: 170px;
	padding: 30px;
	text-align: middle;
	
}

.gnb > li:hover {
    background-color: silver;
}

.info span {
	display: block;
}

.con_top {
	display: flex;
}

.search_area {
	margin-left: 30px;
}